@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap');

/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #1F1F1F;
  color: #FFFFFF;
}

/* Navbar.js */
.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 40px;
  background-color: #1F1F1F;
  position: fixed;
  top: 35px;
  width: 100%;
  z-index: 1000;
  font-family: 'Inter', sans-serif;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 100px;
}

.logo-image {
  height: 40px;
  width: auto;
  margin-top: 10px;
}

.nav-links {
  align-items: center;
  display: flex;
  gap: 30px;
  list-style-type: none;
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  margin: 0;
  transition: color 0.3s ease;
}

.nav-buttons {
  display: flex;
  gap: 10px;
  margin-left: auto;
}

.language-dropdown {
  position: relative;
}

.btn-language {
  background-color: transparent;
  color: #FCFCFC;
  border: 1px solid #FCFCFC;
  padding: 6px 14px;
  border-radius: 15px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all 0.3s ease;
  min-width: 50px;
  text-align: center;
  white-space: nowrap;
}

.btn-language:hover, .btn-language.active {
  background-color: #FF6A00;
  color: #FFFFFF;
  border: 1px solid #FF6A00;
}

.btn-language img.arrow {
  width: 10px;
  height: auto;
}

.language-options {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #1F1F1F;
  border: 1px solid #FCFCFC;
  border-radius: 18px;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 4px;
  z-index: 1000;
  width: max-content;
}

.language-options .btn-language-option {
  background-color: transparent;
  border: 1px solid transparent;
  color: #FCFCFC;
  border: none;
  padding: 6px 15px;
  border-radius: 15px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  position: relative;
}

.language-options .btn-language-option:not(:last-child)::after {
  content: '';
  display: block;
  height: 1px;
  background-color: #FCFCFC;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 5px;
}

.btn-language-option:hover {
  color: #FF6A00;
}

.nav-buttons .btn-daftar,
.nav-buttons .btn-masuk {
  padding: 6px 15px;
  border-radius: 15px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}

.nav-buttons .btn-daftar {
  background-color: #FF6A00;
  color: #FFFFFF;
  border: 1px solid #FF6A00;
}

.nav-buttons .btn-masuk {
  background-color: transparent;
  color: #FCFCFC;
  border: 1px solid #FCFCFC;
}

.nav-links a:hover {
  color: #FF6A00;
}

.nav-buttons .btn-daftar:hover {
  background-color: transparent;
  color: #FCFCFC;
  border: 1px solid #FCFCFC;
}

.nav-buttons .btn-masuk:hover {
  background-color: #FF6A00;
  color: #FFFFFF;
  border: 1px solid #FF6A00;
}

/* Navbar.css Scrolling Ticker */ 
.scrolling-ticker {
  background-color: #FF6A00;
  width: 100%;
  color: white;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  overflow: hidden;
  white-space: nowrap;
}

.ticker-content {
  display: inline-block;
  animation: ticker 20s linear infinite;
  white-space: nowrap;
}

.ticker-content span {
  display: inline-block;
  padding-right: 5px;
}

@keyframes ticker {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Home.css */
.home {
  display: flex;
  flex-direction: column;
  margin-left: 10rem;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 2rem;
  color: white;
  position: relative;
}

.home h1 {
  font-size: 2.5rem;
  max-width: 350px;
  margin-bottom: 1rem;
  font-weight: bold;
  text-align: left;
}

.home p {
  font-size: 1.1rem;
  max-width: 550px;
  margin-bottom: 2rem;
  line-height: 1.5;
  text-align: left;
}

.btn-butuh-bantuan {
  background-color: #FF6A00;
  color: white;
  padding: 0.5rem 1rem;
  border: 1px solid #FF6A00;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: absolute;
  bottom: 8rem;
  right: 8rem;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 25px;
}

.btn-butuh-bantuan:hover {
  background-color: transparent;
  border-color: #FF6A00;
}

.question-mark {
  width: auto;
  height: auto;
}

