@import url('https://api.fontshare.com/v2/css?f[]=satoshi@400,900&display=swap');

/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Satoshi', sans-serif;
  background: linear-gradient(to bottom, #424242 20%, #FFFFFF 40%);
  color: #FFFFFF;
}

/* Navbar.css */
.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 40px;
  background-color: transparent;
  position: fixed;
  top: 45px;
  width: 100%;
  z-index: 1000;
  font-family: 'Inter', sans-serif;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 100px;
}

.logo-image {
  height: 40px;
  width: auto;
  margin-top: 10px;
}

.nav-links {
  align-items: center;
  display: flex;
  gap: 30px;
  list-style-type: none;
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  margin: 0;
  transition: color 0.3s ease;
}

.nav-buttons {
  display: flex;
  gap: 10px;
  margin-left: auto;
}

.language-dropdown {
  position: relative;
}

.btn-language {
  background-color: transparent;
  color: #FCFCFC;
  border: 1px solid #FCFCFC;
  padding: 6px 14px;
  border-radius: 15px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all 0.3s ease;
  min-width: 50px;
  text-align: center;
  white-space: nowrap;
}

.btn-language:hover, .btn-language.active {
  background-color: #FF6A00;
  color: #FFFFFF;
  border: 1px solid #FF6A00;
}

.btn-language img.arrow {
  width: 10px;
  height: auto;
}

.language-options {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: transparent;
  border: 1px solid #FCFCFC;
  border-radius: 18px;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 4px;
  z-index: 1000;
  width: max-content;
}

.language-options .btn-language-option {
  background-color: transparent;
  border: 1px solid transparent;
  color: #FCFCFC;
  border: none;
  padding: 6px 15px;
  border-radius: 15px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  position: relative;
}

.language-options .btn-language-option:not(:last-child)::after {
  content: '';
  display: block;
  height: 1px;
  background-color: #FCFCFC;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 5px;
}

.btn-language-option:hover {
  color: #FF6A00;
}

.nav-buttons .btn-daftar,
.nav-buttons .btn-masuk {
  padding: 6px 15px;
  border-radius: 15px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}

.nav-buttons .btn-daftar {
  background-color: #FF6A00;
  color: #FFFFFF;
  border: 1px solid #FF6A00;
}

.nav-buttons .btn-masuk {
  background-color: transparent;
  color: #FCFCFC;
  border: 1px solid #FCFCFC;
}

.nav-links a:hover {
  color: #FF6A00;
}

.nav-buttons .btn-daftar:hover {
  background-color: transparent;
  color: #FCFCFC;
  border: 1px solid #FCFCFC;
}

.nav-buttons .btn-masuk:hover {
  background-color: #FF6A00;
  color: #FFFFFF;
  border: 1px solid #FF6A00;
}

/* Navbar.css Scrolling Ticker */
.scrolling-ticker {
  width: 94%;
  color: white;
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1001;
  overflow: hidden;
  white-space: nowrap;
  font-size: 15px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.scrolling-ticker.hidden {
  transform: translateY(-100%);
  opacity: 0;
}

.scrolling-ticker::before,
.scrolling-ticker::after {
  content: '';
  display: block;
  height: 1px;
  background-color: #FF6A00;
  width: 100%;
  margin: 0 auto;
}

.scrolling-ticker::before {
  margin-bottom: 4px;
}

.scrolling-ticker::after {
  margin-top: 4px;
}

.ticker-wrapper {
  display: flex;
  width: 200%;
  animation: ticker 20s linear infinite;
}

.ticker-content {
  display: flex;
  flex: 1;
}

.ticker-content span {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.ticker-content img {
  height: 1em;
  width: auto;
  vertical-align: middle;
  margin: 0 7px;
  margin-top: 2px;
}

@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.navbar.scrolled {
  top: 0;
  background-color: #1F1F1F;
}

/* Home.css */
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 2rem 3rem;
  color: white;
  position: relative;
  background-color: #424242;
  overflow: hidden;
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./assets/HomeBackground.png');
  background-size: cover;
  background-position: center;
  opacity: 0.09;
  z-index: 0;
}

.home h1,
.home p {
  position: relative;
  z-index: 1;
}

.home h1 {
  font-size: 2.5rem;
  max-width: 350px;
  margin-bottom: 1rem;
  margin-top: 3rem;
  font-weight: 800;
  text-align: left;
  margin-left: 10rem;
}

.home p {
  margin-left: 0;
  font-size: 1.1rem;
  max-width: 550px;
  margin-bottom: 2rem;
  line-height: 1.5;
  text-align: left;
  margin-left: 10rem;
}

.btn-butuh-bantuan {
  background-color: #FF6A00;
  color: white;
  padding: 0.5rem 1rem;
  border: 1px solid #FF6A00;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: absolute;
  bottom: 8rem;
  right: 8rem;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 25px;
}

.btn-butuh-bantuan:hover {
  background-color: transparent;
  border-color: #FF6A00;
}

.question-mark {
  width: auto;
  height: auto;
}

/* Home.css Chatbox Styles */
.chatbox {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 300px;
  height: 400px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 1000;
}

.chatbox-header {
  background-color: white;
  color: #FF6A00;
  font-weight: 700;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid #e9e8e8;
}

.chatbox-header span {
  margin-left: 1rem;
  margin-top: 0.2rem;
  font-size: 18px;
}

.chatbox-messages {
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
}

.chatbox-message {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 20px;
  max-width: 50%;
}

.chatbox-message.user {
  background-color: #FF9F73;
  align-self: flex-end;
  color: white;
  max-width: 70%;
  word-wrap: break-word;
  text-align: left;
  margin-left: auto;
  border-radius: 20px 20px 0 20px;
  width: fit-content;
}

.chatbox-message.admin {
  background-color: #e9e8e8;
  align-self: flex-start;
  color: black;
  word-wrap: break-word;
  text-align: left;
  border-radius: 20px 20px 20px 0;
  padding: 0.5rem;
  max-width: 70%;
}

.chatbox-message.bot {
  background-color: #D3D3D3;
  align-self: flex-start;
  color: black;
}

.chatbox-input-container {
  display: flex;
  padding: 1rem;
  background-color: white;
}

.chatbox-input {
  flex-grow: 1;
  padding: 0.7rem;
  background: linear-gradient(to bottom, #cccbcb 1%, #ecebeb 30%);
  border-radius: 20px;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  border: none;
  box-shadow: none;
  outline: none;
}

.chatbox-send-button {
  background-color: #FF6A00;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  width: 40px;
  height: 40px;
}

.close-chatbox {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: rgb(180, 171, 171);
  margin-right: 1rem;
  margin-top: 0.3rem;
}

/* Review.css */
.review-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 2rem 3rem;
  padding-left: 13rem;
  color: white;
  position: relative;
}

.review-section h2 {
  font-size: 2rem;
  max-width: 270px;
  margin-bottom: 1rem;
  margin-left: 0;
  font-weight: bold;
  text-align: left;
}

.review-section p {
  font-size: 16px;
  margin-bottom: 20px;
  color: white;
  text-align: justify;
  max-width: 900px;
  margin-left: 0;
}

.carousel-container {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 920px;
}

.review-carousel {
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: none;
  max-width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.review-card {
  background-color: #fff;
  padding: 20px;
  width: 300px;
  height: auto;
  min-height: 250px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  flex-shrink: 0;
  scroll-snap-align: start;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.review-card:hover {
  box-shadow: 0 0 30px rgba(255, 165, 0, 0.7);
}

.review-card img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 50px;
  object-fit: scale-down;
  display: flex;
}

.review-card p {
  font-size: 14px;
  color: #333;
  flex-grow: 1;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.review-author {
  margin-top: 20px;
  text-align: right;
  justify-content: right;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.review-author .author-name,
.review-author .author-title {
  margin: 0;
  text-align: right;
  justify-content: right;
  white-space: nowrap;
}

.review-author .author-title {
  font-size: 14px;
  color: #666;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #D9D9D9;
  color: #555;
  font-weight: 900;
  border: none;
  cursor: pointer;
  z-index: 10;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.left-btn {
  left: -30px;
}

.right-btn {
  right: -30px;
}

.carousel-btn:hover {
  background-color: #D3D3D3;
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.8);
}

/* Benefit.css */
.benefit-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: -2rem 3rem;
  color: white;
  position: relative;
  overflow: hidden;
}

.benefit-container h2 {
  text-align: center;
  max-width: 35%;
  margin: 50px auto 10px auto;
  font-size: 2rem;
}

.benefit-container p {
  text-align: center;
  max-width: 49%;
  margin: 1px auto 15px auto;
  font-size: 15px;
}

.benefit-cards {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-auto-rows: min-content;
  gap: 1rem;
  justify-content: center;
}

.card-one {
  grid-column: 1 / span 2;
  width: 500px;
  height: 145px;
  background-color: #FFDCCC;
  margin-top: 10px;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-one h3 {
  margin-bottom: 5rem;
  margin-right: -2rem;
  font-size: 1.25rem;
  text-align: left;
  color: #26272B;
  z-index: 1;
}

.card-one img {
  max-width: 110%;
  max-height: 110%;
  object-fit: contain;
  margin-bottom: -21px;
  margin-left: 0px;
  z-index: 0;
}

.card-two {
  grid-row: 2 / 4;
  width: 260px;
  height: 360px;
  align-self: start;
  transform: translateY(-160px);
  background-color: #FFEEE6;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-two h3 {
  margin-bottom: 15rem;
  margin-right: -15rem;
  font-size: 1.25rem;
  text-align: left;
  color: #26272B;
  z-index: 1;
}

.card-two img {
  max-width: 120%;
  max-height: 120%;
  object-fit: contain;
  margin-bottom: -85px;
  margin-left: 30px;
  margin-right: -16px;
  z-index: 0;
}

.card-three {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  width: 240px;
  height: 200px;
  align-self: start;
  transform: translateY(-160px);
  background-color: #FFEEE6;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-three h3 {
  margin-bottom: 7rem;
  margin-right: -17rem;
  font-size: 1.25rem;
  text-align: left;
  color: #26272B;
  z-index: 1;
}

.card-three img {
  max-width: 115%;
  max-height: 115%;
  object-fit: contain;
  margin-bottom: -40px;
  margin-left: 30px;
  margin-right: -16px;
  z-index: 0;
}

.card-four {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  width: 240px;
  height: 200px;
  align-self: start;
  transform: translateY(-160px);
  background-color: #FFDCCC;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-four h3 {
  margin-bottom: 7rem;
  margin-right: -15rem;
  font-size: 1.25rem;
  text-align: left;
  color: #26272B;
  z-index: 1;
}

.card-four img {
  max-width: 110%;
  max-height: 110%;
  object-fit: contain;
  margin-bottom: -75px;
  margin-left: 30px;
  margin-right: -16px;
  z-index: 0;
}

/* Services.css */
.services-container {
  padding: 3rem 3rem;
  color: #26272B;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.services-title {
  text-align: center;
  max-width: 40%;
  margin: 40px auto 5px auto;
  font-size: 2rem;
}

.services-description {
  font-size: 15px;
  margin: 5px auto 20px auto;
  text-align: center;
  max-width: 55%;
}

.services-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(37, 34, 34, 0.1);
  width: 75%;
  margin: 20px auto;
  transition: box-shadow 0.3s ease;
}

.services-section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid #FF6A00;
  width: 95%;
  margin: auto 20px auto 20px;
  align-items: center;
}

.services-section:last-child {
  border-bottom: none;
}

.services-subtitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  width: 150px;
  flex-shrink: 0;
}

.services-desc {
  font-size: 0.9rem;
  line-height: 1.5;
  text-align: justify;
  margin: 0 20px;
  flex: 1;
}

.service-image {
  width: 150px;
  height: auto;
  border-radius: 10px;
  margin-left: 20px;
}

.read-more {
  color: #FF6A00;
  cursor: pointer;
}

@media (max-width: 768px) {
  .services-section {
    flex-direction: column;
    text-align: center;
    padding: 1rem;
  }
  
  .service-image {
    margin-top: 1rem;
    margin-left: 0;
  }
}

/* Footer.css */
.footer-top {
  text-align: left;
  padding: 100px 11rem;
}

.footer-top h2 {
  font-size: 2rem;
  margin-left: -20px;
  color: #26272B;
}

.footer-top p {
  font-size: 15px;
  margin-bottom: 20px;
  margin-left: -20px;
  color: #26272B;
}

.footer-buttons {
  margin-bottom: 30px;
  margin-left: -30px;
}

.footer-button {
  margin: 0 10px;
  padding: 5px 20px;
  background-color: transparent;
  border: 1px solid #ff6600;
  color: #ff6600;
  border-radius: 20px;
  cursor: pointer;
  font-size: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.footer-button:hover {
  background-color: #ff6600;
  color: white;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

.carousel-container-footer {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 990px;
  margin-left: -10px;
}

.footer-carousel {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 920px;
  margin-left: -10px;
  overflow-x: hidden;
  scroll-snap-type: none;
  max-width: 110%;
  padding: 5px 5px 30px 20px;
}

.footer-card {
  background-color: #ffffff;
  padding: 20px;
  width: 400px;
  height: auto;
  min-height: 200px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  margin-right: 20px;
  flex-shrink: 0;
  scroll-snap-align: start;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateY(2px);
}

.footer-card p {
  font-size: 14px;
  color: #333;
  flex-grow: 1;
  display: flex;
  align-items: center;
  text-align: justify;
  margin: 0;
  padding: 0;
}

.footer-date {
  margin-top: 20px;
  text-align: right;
  justify-content: right;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.footer-main-button {
  background-color: #ff6600;
  color: white;
  padding: 10px 30px;
  border-radius: 25px;
  border: 1px solid #FF6A00;
  font-size: 15px;
  cursor: pointer;
  display: block;
  margin: 30px auto -50px;
  transition: background-color 0.2s ease;
}

.footer-main-button:hover {
  background-color: transparent;
  color: #FF6A00;
  border: 1px solid #FF6A00;
}

.footer-category {
  display: inline-block;
  padding: 3px 10px;
  border: 1px solid #ff6600;
  border-radius: 20px;
  color: #ff6600;
  font-size: 12px;
  margin-bottom: 10px;
  max-width: fit-content;
}

.footer-category p {
  color: #ff6600;
  margin: 0;
  padding: 0;
}

.footer-bottom {
  display: flex;
  align-items: flex-start;
  background-color: #1b1b1b;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 60px;
  padding-top: 60px;
}

.footer-detail {
  color: white;
  max-width: 50%;
}

.footer-contact p {
  margin: 8px 0;
  color: #f5f5f5;
  display: flex;
  align-items: center;
}

.footer-contact img {
  margin-right: 10px;
}

.footer-solutions, .footer-links {
  width: 20%;
}

.footer-solutions h3, .footer-links h3 {
  font-size: 18px;
  margin-bottom: 20px;
}

.footer-solutions ul, .footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-solutions li, .footer-links li {
  margin-bottom: 20px;
}

.footer-solutions li a, .footer-links li a {
  color: #ffffff;
  text-decoration: none;
}

.footer-solutions li a:hover, .footer-links li a:hover {
  color: #FF6A00;
  text-decoration: none;
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer-social a {
  margin: 0 15px;
  display: inline-block;
}

.footer-social img {
  width: auto;
  height: auto;
  display: block;
}

.footer-social-x img {
  width: auto;
  height: auto;
  margin-top: 5px;
  margin-left: -15px;
}

.footer-bottom-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1b1b1b;
  padding: 5px 30px;
}

.footer-copyright {
  color: #888;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 95px;
}

.footer-up a img {
  width: 40px;
  height: 40px;
  margin-top: -50px;
  border-radius: 60%;
  transition: box-shadow 0.2s ease-in-out;
}

.footer-up a img:hover {
  box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.8);
}

/* Growth.css */
.section-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 1rem 3rem;
  color: #26272B;
  position: relative;
  overflow: hidden;
}

.section-container h2 {
  text-align: center;
  max-width: 35%;
  margin: 50px auto 10px auto;
  font-size: 2rem;
}

.section-container p {
  text-align: center;
  max-width: 49%;
  margin: 1px auto 15px auto;
  font-size: 15px;
}

.map-container {
  margin: 15px auto 15px auto;
}

.map-image {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.stats-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 45px;
  padding: 0 20px;
}

.stat-card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  min-width: 170px;
  height: 100px;
  margin-top: 20px;
}

.stat-card h3 {
  color: #FF6A00;
  font-size: 30px;
}

.stat-card p {
  text-align: center;
  color: #666;
}

/* Partners.css */
.partners-container {
  text-align: center;
  padding: 50px 20px;
  color: #26272B;
}

.partners-container h2 {
  font-size: 2rem;
  margin-bottom: 25px;
}

.ticker-container {
  overflow: hidden;
  white-space: nowrap;
  margin: 90px auto;
  position: relative;
  width: 80%;
}

.ticker {
  display: inline-flex;
  animation: ticker 30s linear infinite;
}

.ticker-logo {
  display: inline-block;
  margin: 0 70px;
  height: auto;
  width: auto;
}

.ticker-inner {
  display: inline-flex;
}

@keyframes ticker {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.contact-button {
  background-color: #FF6A00;
  color: white;
  border: 1px solid #FF6A00;
  border-radius: 25px;
  padding: 10px 30px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.contact-button:hover {
  background-color: transparent;
  color: #FF6A00;
  border: 1px solid #FF6A00;
}